label {
    cursor: pointer;
    display: inline-block;
    padding: 1rem 2rem;
    margin: 0;
}

input[type="radio"] {
    // opacity: 0;
    display: none;
    margin: 0;
    width: 0;
    padding: 0;
}

label+input[type="radio"]+label {
    border-left: 1px solid;
}

input[type="radio"]:checked+label {
    background: white;
    color: black;
}