@import "_normalize";
@import "_variables";
@import "_radio-buttons";
@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,600&display=swap&subset=latin-ext');
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: $black;
    color: white;
    background: $violet;
    font-family: 'Fira Code', monospace;
}

.card {
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 100px;
    width: 100px;
    background-color: $grey;
    &--hidden {
        opacity: 0;
    }
}

.card-reverse {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 100px;
    width: 100px;
    &--0,
    &--1 {
        background-color: greenyellow;
    }
    &--2,
    &--3 {
        background-color: blue;
    }
    &--4,
    &--5 {
        background-color: hotpink;
    }
    &--6,
    &--7 {
        background-color: brown;
    }
    &--8,
    &--9 {
        background-color: orangered;
    }
    &--10,
    &--11 {
        background-color: green;
    }
    &--12,
    &--13 {
        background-color: purple;
    }
    &--14,
    &--15 {
        background-color: orange;
    }
}

.footer {
    max-width: 736px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header {
    position: absolute;
    top: 1rem;
    margin: 0 auto;
    text-align: center;
    &__heading {
        font-size: 3rem;
        margin-bottom: 0;
    }
    &__pairs-counter {
        font-size: 2.5rem;
    }
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
}

.radio-button {
    border: 2px solid white;
    margin: 1rem;
}

.start-button {
    background: white;
    border: none;
    margin: 1rem;
    width: 205px;
    height: 3rem;
    &--hidden {
        display: none;
    }
}

.set-level {
    &__container {
        border: 1px solid white;
        display: inline-block;
        margin: 20px;
        overflow: hidden;
    }
    &__heading {
        text-align: center;
        font-size: 1.5rem;
    }
}