@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,600&display=swap&subset=latin-ext');
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $black;
    color: white;
    background: $violet;
    font-family: 'Fira Code', monospace;
}

.card {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    height: 100px;
    width: 100px;
    background-color: gray;
    &--hidden {
        opacity: 0;
    }
}

.card-reverse {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 100px;
    width: 100px;
    color: white;
    &--0,
    &--1 {
        background-color: greenyellow;
    }
    &--2,
    &--3 {
        background-color: blue;
    }
    &--4,
    &--5 {
        background-color: hotpink;
    }
    &--6,
    &--7 {
        background-color: brown;
    }
    &--8,
    &--9 {
        background-color: orangered;
    }
    &--10,
    &--11 {
        background-color: green;
    }
    &--12,
    &--13 {
        background-color: purple;
    }
    &--14,
    &--15 {
        background-color: orange;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
}

.header {
    position: absolute;
    top: 1rem;
    margin: 0 auto;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
}

.start-button {
    margin: 1rem;
    &--hidden {
        display: none;
    }
}