@import "_normalize";
@import "_variables";
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: $yellow;
    background: $violet;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.parent {
    max-width: calc(200px + 1rem);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 2rem;
    height: 100px;
    width: 100px;
    background-color: gray;
    &--reverse {
        color: white;
        background-color: hotpink;
    }
}